* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding-top: 30px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
    padding: 40px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

header ul {
    list-style-type: none;
    display: flex;
}

.left li {
    margin-left: 40px;
}

.right li {
    margin-right: 40px;
}

.first {
    display: flex;
}

.first_picture {
    width: 50%;
    height: 600px;
}

.image {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.first_text {
    width: 50%;
    height: 600px;
    background-color: #f9dbbe;
}

.second {
    display: flex;
    padding: 70px 120px;
}

.second_picture {
    width: 50%;
    height: 600px;
}

.second_text {
    width: 50%;
    height: 600px;
    background-color: #f3ede8;
}

.item_img {
    object-fit: cover;
}

.the_shop {
    text-align: center;
}

.third h1 {
    text-align: center;
}

.the_shop_items {
    padding: 0 120px;
    display: flex;
    justify-content: space-around;
}

.item_category,
.item_title,
.item_price,
.item_button {
    text-align: center;
}

.item_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.item_button button {
    font-size: 15px;
    background-color: white;
    border: 1px solid black;
    padding: 15px 60px;
}

.item_price {
    font-size: 15px;
    color: gray;
    margin: 15px;
}

.fourth {
    display: flex;
    padding: 70px 120px;
}

.fourth_picture {
    width: 50%;
    height: 600px;
}

.fourth_text {
    width: 50%;
    height: 600px;
    background-color: #f3ede8;
}

footer {
    width: 100%;
    height: 250px;
    background-color: #f3ede8;
    margin-top: 200px;
}